

.My-Color-Theme-1-hex { color: #F6F0EC; }
.My-Color-Theme-2-hex { color: #E3DDCA; }
.My-Color-Theme-3-hex { color: #FFA333; }
.My-Color-Theme-4-hex { color: #3A808A; }
.My-Color-Theme-5-hex { color: #284D5B; }


body {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #284D5B;
}
h1 {
    margin: 0px;
    font-size: 20pt;
}
h2 {
    margin: 10px 10px 0px 10px;
    position: static;
    display: inline-block;
    font-size: 14pt;
    font-weight: 600;
    color: #F6F0EC;
}

h3 {
    margin: 10px 10px 0px 10px;
    position: static;
    display: inline-block;
    font-size: 8pt;
    font-weight: 300;
    color: #E3DDCA;
    
}

br {
    height: 2px;
}
p {
    margin: 0px 10px 0px 10px;
    position: static;
    
    font-size: 8pt;
    font-weight: 300;
    color: #E3DDCA;
}


td {
    padding: 5px;
}

input {
    padding: 5px;
    margin: 8px;
}

.appBody {
    /*
    background-color: aqua;
    */
    max-width: 1500px;
    min-width: 300px;
    
    margin: 20px auto auto;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}

.book {
    background-color: #3A808A;
    border-radius: 5px;
    display: inline-block;
    width: 280px;
    height: 150px;
    vertical-align:top; /* Prevents text pushing down entire div*/
    text-align: left;
    position: relative;
    margin: 5px 5px 10px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

.book:hover {
    background-color: #33717a;

}

.ghostBook {
    background-color: transparent;
    border-color: #F6F0EC;
    border-style: dashed;
    border-width: 2px;
    color: #F6F0EC;
    cursor: pointer;
    font-size: 50pt;
    font-weight: 700;
    height: 121px;
    width: 276px;
    padding-top: 25px;
    text-align: center;
    user-select: none;
    box-shadow: 0px 0px rgba(0,0,0,0);

}


.ghostBook:hover {
    top:0px;
    color: #FFA333;
    border-color: #FFA333;
    background-color: transparent;
}

.modal-bg {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    opacity: 1;
    visibility: visible;
}

.modal {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #3A808A;
    color: white;
    border-radius: 20px;
    height: 50%;
    width: 40%;
    min-height: 380px;
    min-width: 305px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

}

.modal-close {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}


.submitButton {
	box-shadow:inset 0px 39px 0px -24px #ffb860;
	background-color:#FFA333;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a86819;
}
.submitButton:hover {
	background-color:#FFA333;
}
.submitButton:active {
	position:relative;
	top:1px;
}

.link {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.link:hover {
    color: #FFA333;
}

.remove {
    right: 5px;
}


@media only screen and (max-width: 700px) {
  
    .modal-bg {
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100%;
    }

    .modal {
        background-color: #284D5B;
        border-radius: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: #F6F0EC;
    
    }

  }
